MYSQL_HOST=127.0.0.1
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=japanese_study
MYSQL_PASSWORD=password
MYSQL_DATABASE=japanese_study
MYSQL_PORT=3306
REDIS_PASSWORD=123456
REDIS_PORT=6379
TYPEORM_ENTITIES=db/entities/*.entity{.ts,.js}
TYPEORM_MIGRATIONS=db/migrations/*{.ts,.js}
TYPEORM_MIGRATIONS_RUN=src/db/migrations
TYPEORM_MIGRATIONS_DIR=src/db/migrations
HTTP_PORT=3000